.dotted-border {
	border: 50px solid transparent;
  border-image: url('/assets/images/borders/tessa-border-3.png') 240 round;
  border-image-width: 140px;
}

.leaf-border {
  border: 80px solid transparent;
  border-image-source: url("/assets/images/borders/tessa-border-1.png");
  border-image-slice: 50%;
  border-image-width: 100%;
  border-image-repeat: round;
}

.wave-border {
	border: 100px solid transparent;
  border-image-source: url('/assets/images/borders/tessa-border-2.png');
  border-image-slice: 43%;
  border-image-width: 30%;
  border-image-repeat: round;
}