.pattern {
  background-repeat: repeat-x;
  background-size: contain;
  max-width: 960px;
  margin: auto;
}

.leaf-pattern {
  background-image: url('/assets/images/patterns/tessa-pattern-1.png');
  height: 50px;
  margin-bottom: 40px;
  @include media($mobile) {
    height: 30px;
  }
}

.dot-pattern {
  background-image: url('/assets/images/patterns/tessa-pattern-2.png');
  height: 10px;
  @include row();
}

.small-pattern {
  background-image: url('/assets/images/patterns/tessa-pattern-3.png');
  height: 10px;
}