body {
	background: #FAFCF1;
	max-width: 1200px;
	margin: auto;
	background-image: url('https://www.transparenttextures.com/patterns/light-paper-fibers.png');
}

.content {
	margin: 10px;
}

.image-circle {
  border-radius: 50%;
  max-height: 400px;
  // border: 3px dashed black;
  display: inherit;
  margin: auto;
}

textarea {
	width: 100%;
	height: 200px;
}

// Limit the size of iFrames
iframe, object, embed {
  max-width: 100%;
  max-height: 450px;
  @include media ($medium){
  	max-height: 50vw;
  }
  @include media ($mobile) {
  	max-height: 75vw;
	}
}