---
title: Why Yoga?
layout: default
navigation_weight: 3
slug: why-yoga
meta_content: It doesn’t matter if you’re big or little, stiff or flexible, injured,
  healthy, old, young, happy, sad, blue, green, square, hexagonal… Yoga can still
  be possible for you.
---

{% include lead_quote.html %}

<div class="yoga-dudes">
	<div class="dude-column" id="tree-pose">
		<img class="yoga-dude" src="{{ site.baseurl }}/assets/images/yoga_dudes/tree-pose.png" />
	</div>
	<div class="dude-column" id="triangle">
		<img class="yoga-dude" src="{{ site.baseurl }}/assets/images/yoga_dudes/triangle.png" />
	</div>
	<div class="dude-column" id="side-bend">
		<img class="yoga-dude" src="{{ site.baseurl }}/assets/images/yoga_dudes/side-bend.png" />
	</div>
</div>

<blockquote class="intro-message"> It doesn’t matter if you’re big or little, stiff or flexible, injured, healthy, old, young, happy, sad, blue, green, square, hexagonal… Yoga can still be possible for you. </blockquote>

{% include dot_pattern.html %}

<div id="reasons">
	<div class="narrow-columns">
		<p>There are a myriad reasons why you may want yoga to be possible for you. The list is endless and very personal to each practitioner. Yoga can help increase fitness, strength, flexibility, agility and maintain the health of your body.  It can assist with injury rehabilitation.  It can provide a sense of calm and nurturing whilst offering a different way of connecting with and learning about your body and yourself. It can also help build confidence and self-esteem as the various postures become more within reach. Through practicing yoga, the seemingly impossible may become possible, or some other lesson may be learnt instead.</p>

		<p>All of this and more is possible through yoga, depending on the unique set of traits and circumstances that you bring.  There is no right or wrong.  Private Yoga lessons are a great way to get individualised yoga tuition to meet your unique needs.</p>

		{% include private_yoga_button.html %}
	</div>
</div>

{% include cactus_pattern.html %}
