<label for="firstname">Your Name*</label>
<input id="name" type="text" name="name" required>

<label for="message">Your Message*</label>
<textarea id="message" type="textarea" name="message" required></textarea>

<label for="email">Your Email*</label>
<input id="email" type="email" name="_replyto" required>

<label for="phone">Telephone Number</label>
<input id="phone" type="text" name="phone">

<input type="text" name="_gotcha" style="display:none" />

<input type="submit" value="Send">

<div><br>* required fields</div>