.pattern {
  background-repeat: repeat-x;
  background-size: contain;
  max-width: 100vw;
  margin: auto;
}

.leaf-pattern {
  background-image: url('/assets/images/patterns/tessa-pattern-1.png');
  height: 50px;
  margin-bottom: 40px;
  @include media($mobile) {
    height: 40px;
  }
}

.dot-pattern {
  background-image: url('/assets/images/patterns/tessa-pattern-2.png');
  height: 10px;
}

.cactus-pattern {
  background-image: url('/assets/images/patterns/tessa-pattern-5.png');
  height: 50px;
  @include media($mobile) {
    height: 40px;
  }
}

.arabic-pattern {
  background-image: url('/assets/images/patterns/tessa-pattern-8.png');
  height: 50px;
  @include media($mobile) {
    height: 40px;
  }
}

.zig-zag-pattern {
  background-image: url('/assets/images/patterns/tessa-pattern-7.png');
  height: 40px;
  @include media($mobile) {
    height: 40px;
  }
}

.flower-pattern {
  background-image: url('/assets/images/patterns/tessa-pattern-6.png');
  height: 50px;
  @include media($mobile) {
    height: 40px;
  }
}


.small-pattern {
  background-image: url('/assets/images/patterns/tessa-pattern-3.png');
  height: 10px;
}

.peacock-pattern {
  background-image: url('/assets/images/patterns/tessa-pattern-4.png');
  height: 50px;
  @include media($mobile) {
    height: 40px;
  }
}
