.yoga-dudes {
	@include row();
	.dude-column {
		@include span-columns(4);
		text-align: center;
		&#tree-pose {
			text-align: right;
		}
	}
	.yoga-dude {
		max-height: 300px;
		width: auto; 
	}
}

.jois-quote {
	margin-top: 0;
	margin-left: 10px;
	margin-right: 10px;
	-webkit-margin-start: 10px;
  -webkit-margin-end: 10px;
  margin-bottom: 15px;
}

.about-columns {
	@include row();
	.tessa-profile {
		@include span-columns(4);
		@include shift(-12);
		@include media($mobile) {
			@include span-columns(12);
			@include shift(0);
			margin-top: 20px;
		}
	}
	.about-tessa {
		@include span-columns(7);
		@include shift(5);
		text-align: left;
		@include media($mobile) {
			@include span-columns(12);
			@include shift(0);
		}
	}
}