.yoga-dudes {
	@include row();
	.dude-column {
		@include span-columns(4);
		text-align: center;
		&#tree-pose {
			text-align: right;
		}
	}
	.yoga-dude {
		max-height: 300px;
		width: auto; 
	}
}

.details-container {
	@include row();
}

.tessa-details {
	@include span-columns(7);
	@include shift(5);
	@include media($medium) {
		@include span-columns(12);
		@include shift(0);
	}
}

.jois-quote {
	margin-top: 0;
	margin-left: 10px;
	margin-right: 10px;
	-webkit-margin-start: 10px;
  -webkit-margin-end: 10px;
  margin-bottom: 15px;
}

.about-columns {
	@include row();
	&::after {
		content: none;
	}
	.tessa-profile {
		@include span-columns(4);
		@include shift(-12);
		@include media($medium) {
			@include span-columns(12);
			@include shift(0);
			margin-top: 20px;
			img {
				max-width: 60%;
			}
		}
	}
	.about-tessa {
		@include span-columns(7);
		@include shift(5);
		text-align: left;
		@include media($medium) {
			@include span-columns(12);
			@include shift(0);
		}
	}
}
