h6 {
	font-size: 2rem;
	font-weight: 700;
}

.group-intro {
	@include row();
}

#hand-to-toe {
	@include span-columns(3);
	@include shift(-10);
	@include media($mobile) {
		@include span-columns(6);
		@include shift(3);
	}
}

.group-class-intro {
	@include span-columns(6);
	@include shift(5);
	@include media($mobile) {
		@include span-columns(12);
		@include shift(0);
	}
}

#group-schedule {
	@include row();
	h6 {
		font-family: 'Lora';
	}
}

table {
	margin-bottom: 40px;
}

td {
	@include media($mobile) {
		font-size: 1rem;
		padding: 10px;
	}
}

td.hide-me {
	@include media($mobile) {
		position: relative;
		top: 20px;
	}
}