.lead-quote {
	@include row();
	padding: 20px;
}

p.quote-source {
	font-size: 1rem;
	font-family: Lora;
	text-align: center;
}

.intro-message {
	@include row();
	text-align: center;
	padding: 40px;
	@include media($mobile) {
    padding: 0;
    font-size: 6vw;
  }
}